/* 1. These 3 lines turn on the Tailwind Engine */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Global Styles for Woxsen App */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6;
  font-family: sans-serif;
}
